SCAN JOBS
<button class="btn btn-primary" (click)="executeScanJob()">Submit Scan</button>

<clr-tabs>
  <clr-tab>
    <button clrTabLink>Scan Jobs</button>
    <clr-tab-content *clrIfActive="true">
      <app-scan-jobs (onScanJobSelected)="onScanJobSelected()"></app-scan-jobs>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Running</button>
    <clr-tab-content *clrIfActive>
      <clr-datagrid>
        <clr-dg-column>Status</clr-dg-column>
        <clr-dg-column>Running on</clr-dg-column>
        <clr-dg-column>Scan Type</clr-dg-column>
        <clr-dg-column>Message</clr-dg-column>
        <clr-dg-row *ngFor="let msg of messages">
          <clr-dg-cell>{{msg.statusDate | date}}</clr-dg-cell>
          <clr-dg-cell>{{msg.server}}</clr-dg-cell>
          <clr-dg-cell>{{msg.scanType}}</clr-dg-cell>
          <clr-dg-cell>{{msg.scanMessage}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{messages.length}} users</clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>




